In [80]:
import pandas as pd
from datetime import datetime

dframe1 = pd.read_csv('weather_prediction_dataset.csv')

In [81]:
dframe1

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,20091228,12,7,0.82,1.0084,0.28,0.42,0.3,3.2,1.0,...,-2.7,2.4,3.7,0.95,1.0011,0.22,1.50,6.2,1.8,10.6
3650,20091229,12,7,0.92,1.0028,0.22,1.68,0.2,4.5,2.4,...,-9.5,0.8,5.3,0.89,0.9966,0.24,0.40,10.4,6.2,14.5
3651,20091230,12,8,0.92,0.9979,0.07,1.54,0.0,8.5,7.5,...,-12.5,-7.4,3.8,0.88,0.9939,0.24,1.00,10.0,8.7,11.3
3652,20091231,12,7,0.93,0.9958,0.17,0.57,0.1,6.6,4.3,...,-9.3,-6.5,4.2,0.88,0.9933,0.58,0.02,8.5,6.2,10.9
3653,20100101,1,8,0.93,0.9965,0.08,0.56,0.0,2.9,-0.2,...,-8.8,-7.0,3.4,0.86,1.0040,0.11,0.00,0.5,-0.7,1.8

Part a: Compute mean of a series grouped by another series.

In [82]:
mean_series = dframe1.groupby(['MONTH','BASEL_humidity'], as_index= False).mean()
mean_series

,MONTH,BASEL_humidity,DATE,BASEL_cloud_cover,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,1,0.56,2.002013e+07,7.000000,1.022200,0.790000,0.030000,5.100000,10.700000,3.600000,...,-6.500000,-3.100000,8.900000,0.810000,1.018100,0.360000,1.060000,11.600000,9.000000,14.200000
1,1,0.59,2.001011e+07,1.000000,1.027300,0.720000,0.000000,7.600000,-1.800000,-3.300000,...,-1.400000,1.600000,6.100000,0.670000,1.023200,0.460000,0.000000,-0.600000,-2.000000,0.900000
2,1,0.60,2.007679e+07,7.000000,1.028800,0.540000,0.003333,3.366667,6.633333,3.000000,...,-0.166667,3.733333,4.533333,0.880000,1.028500,0.646667,0.060000,6.233333,1.866667,10.600000
3,1,0.61,2.004012e+07,4.500000,1.030350,0.605000,0.000000,4.350000,2.700000,0.750000,...,-2.150000,2.750000,4.300000,0.755000,1.028700,0.595000,0.000000,5.200000,3.400000,6.900000
4,1,0.62,2.004013e+07,6.000000,1.017400,0.970000,0.010000,6.700000,3.300000,-3.800000,...,-1.600000,0.900000,8.100000,0.860000,1.012200,0.170000,0.260000,6.800000,2.000000,11.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,12,0.93,2.005205e+07,7.750000,1.015275,0.204167,0.366667,0.250000,3.041667,1.308333,...,-2.766667,0.633333,4.033333,0.892500,1.014100,0.357500,0.071667,5.458333,3.091667,7.858333
524,12,0.94,2.006121e+07,6.857143,1.024414,0.211429,0.305714,0.200000,0.728571,-0.671429,...,0.671429,3.742857,2.785714,0.898571,1.023986,0.318571,0.002857,2.985714,1.042857,4.942857
525,12,0.95,2.004120e+07,4.000000,1.010300,0.180000,0.330000,0.700000,1.500000,0.000000,...,2.800000,4.100000,3.500000,0.870000,1.006100,0.510000,0.000000,5.300000,3.600000,7.000000
526,12,0.96,2.003321e+07,8.000000,1.020220,0.116000,0.218000,0.000000,3.880000,2.520000,...,0.120000,3.720000,4.100000,0.926000,1.020280,0.264000,0.392000,5.240000,3.620000,6.880000
527,12,0.98,2.004120e+07,8.000000,1.030200,0.060000,0.000000,0.000000,2.800000,2.500000,...,1.300000,8.000000,2.100000,0.890000,1.031200,0.390000,0.000000,3.100000,1.100000,5.100000

Part b: Fill an intermittent time series to replace all missing dates with values of previous non-missing date.

In [83]:
dframe1['DATE'].fillna(method = 'ffill',inplace=True)
dframe1

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,20091228,12,7,0.82,1.0084,0.28,0.42,0.3,3.2,1.0,...,-2.7,2.4,3.7,0.95,1.0011,0.22,1.50,6.2,1.8,10.6
3650,20091229,12,7,0.92,1.0028,0.22,1.68,0.2,4.5,2.4,...,-9.5,0.8,5.3,0.89,0.9966,0.24,0.40,10.4,6.2,14.5
3651,20091230,12,8,0.92,0.9979,0.07,1.54,0.0,8.5,7.5,...,-12.5,-7.4,3.8,0.88,0.9939,0.24,1.00,10.0,8.7,11.3
3652,20091231,12,7,0.93,0.9958,0.17,0.57,0.1,6.6,4.3,...,-9.3,-6.5,4.2,0.88,0.9933,0.58,0.02,8.5,6.2,10.9
3653,20100101,1,8,0.93,0.9965,0.08,0.56,0.0,2.9,-0.2,...,-8.8,-7.0,3.4,0.86,1.0040,0.11,0.00,0.5,-0.7,1.8

Part c: Perform appropriate year-month string to dates conversion.

In [84]:
dframe1['DATE'] = dframe1['DATE'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d'))
dframe1

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,2000-01-01,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,2000-01-02,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,2000-01-03,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,2000-01-04,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,2000-01-05,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,2009-12-28,12,7,0.82,1.0084,0.28,0.42,0.3,3.2,1.0,...,-2.7,2.4,3.7,0.95,1.0011,0.22,1.50,6.2,1.8,10.6
3650,2009-12-29,12,7,0.92,1.0028,0.22,1.68,0.2,4.5,2.4,...,-9.5,0.8,5.3,0.89,0.9966,0.24,0.40,10.4,6.2,14.5
3651,2009-12-30,12,8,0.92,0.9979,0.07,1.54,0.0,8.5,7.5,...,-12.5,-7.4,3.8,0.88,0.9939,0.24,1.00,10.0,8.7,11.3
3652,2009-12-31,12,7,0.93,0.9958,0.17,0.57,0.1,6.6,4.3,...,-9.3,-6.5,4.2,0.88,0.9933,0.58,0.02,8.5,6.2,10.9
3653,2010-01-01,1,8,0.93,0.9965,0.08,0.56,0.0,2.9,-0.2,...,-8.8,-7.0,3.4,0.86,1.0040,0.11,0.00,0.5,-0.7,1.8

Part d: Split a dataset to group by two columns and then sort the aggregated results within the groups.

In [85]:
df_agg = dframe1.groupby(['MONTH','BASEL_cloud_cover']).agg({'BASEL_humidity':sum})
result = df_agg['BASEL_humidity'].groupby(level=0, group_keys=False)
print(result.nlargest())

MONTH  BASEL_cloud_cover
1      8                     76.58
       7                     60.27
       5                     26.28
       6                     21.90
       1                     14.74
2      8                     65.24
       7                     54.04
       5                     19.82
       6                     19.63
       3                     15.07
3      7                     58.95
       8                     56.30
       6                     29.02
       5                     19.94
       1                     14.29
4      7                     52.03
       8                     45.31
       6                     32.04
       5                     21.05
       4                     15.74
5      7                     61.30
       8                     45.35
       6                     29.15
       5                     26.51
       4                     20.52
6      7                     40.80
       5                     33.51
       6                     30.69
       8                     26.15
       4                     22.50
7      7                     55.68
       5                     30.93
       6                     29.26
       3                     24.11
       1                     22.15
8      7                     52.61
       1                     29.79
       5                     29.70
       8                     28.69
       6                     27.97
9      7                     70.88
       8                     30.27
       6                     29.41
       3                     26.97
       5                     26.74
10     7                     69.70
       8                     49.08
       5                     32.94
       6                     32.49
       4                     24.40
11     8                     65.72
       7                     63.19
       6                     42.91
       5                     25.81
       4                     16.03
12     8                    108.91
       7                     49.18
       5                     22.84
       6                     19.45
       4                     18.01
Name: BASEL_humidity, dtype: float64

Part e: Split a given dataframe into groups with bin counts.

In [86]:
groups = dframe1.groupby(['MONTH', pd.cut(dframe1.BASEL_cloud_cover, 3)])
result = groups.size().unstack()
result

BASEL_cloud_cover  (-0.008, 2.667]  (2.667, 5.333]  (5.333, 8.0]
MONTH
1                               46              67           198
2                               38              64           181
3                               48              66           196
4                               39              83           178
5                               34              98           178
6                               57             113           130
7                               67             109           134
8                               70             102           138
9                               47              91           162
10                              31              97           182
11                              22              71           207
12                              32              63           215